Logs

logs
.log
npm-debug.log

Dependências

node_modules
dist
dist-ssr
*.local

Editor

.vscode/*
!.vscode/extensions.json
.idea
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

Sistema Operativo

.DS_Store
Thumbs.db